{% extends "layouts/base.html.twig" %}
{% import "components/ui.html.twig" as ui %}

{% block title %}Медичні записи - Клініка{% endblock %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">Медичні записи</h2>
        <div class="ui divider"></div>

        <table class="ui celled table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата візиту</th>
                    <th>Діагноз</th>
                    <th>Пацієнт</th>
                    <th>Лікар</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.visit_date|date('Y-m-d H:i') }}</td>
                        <td>{{ record.diagnosis_code }}</td>
                        <td>{{ record.patient_name }}</td>
                        <td>{{ record.doctor_name }}</td>
                        <td>
                            <a href="/medical-records/show?id={{ record.id }}" class="ui icon button">
                                <i class="eye icon"></i>
                            </a>
                            <a href="/medical-records/edit?id={{ record.id }}" class="ui icon button">
                                <i class="edit icon"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="center aligned">Наразі в системі немає медичних записів для відображення.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}